<h3 id="packages">Required python packages</h3>


<p>
  You will need the following python packages for this workshop:
  <ul>
    <li> tensorflow>=2.1 </li>
    <li> seaborn </li>
    <li> pandas  </li>
    <li> scikit-learn>=0.22 </li>
  </ul>
</p>


<p>
  You can install these packages with conda or pip.
  If you installed Python with anaconda, as explained in the instructions on this page,
  you can install the packages with the conda package manager. Open an terminal and type:
    <p><code>conda install "tensorflow>=2.1" seaborn "scikit-learn>=0.22" pandas</code></p>
</p>
